@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.results {
    margin: 0 auto;
    border-bottom: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 40px;
}

.results ul {
    margin-top: 60px;
}

.results ul li {
    display: inline;
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
}

.results a {
    text-decoration: none;
    color: rgb(29, 99, 190);
    font-size: 30px;
    font-weight: 800;
}

.results a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.avatar {
    position: absolute;
    top: 280px;
    left: -70px;
}

.avatar h1 {
    font-size: 25px;
}

.avataricon {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 50%;
}

.title {
    border: 1px solid rgb(54, 54, 54);
    background-color: rgb(54, 54, 54);
    color: white;
    height: 80px;
    margin: 0 auto;
}

.fa-github {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 50px;
}

.intro {
    font-size: 22px;
}

.profile {
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: .5rem;
    background-color: rgb(212, 212, 212);
    padding: 10px 30px;
    font-size: 20px;
}

.gitName {
    margin: 30px 0;
}

.fa-star-o {
    margin: 40px 0;
    font-size: 22px;
}

.fa-code-fork {
    font-size: 26px;
    margin-left: 80px;
}

.repos {
    font-size: 20px;
    margin-top: -5px;
}


/* MEDIA QUERIES */

